body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
background: linear-gradient(to right, rgb(0, 0, 0), rgb(69, 14, 221), rgb(0, 0, 0));
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.938);
  border-radius: 1pc;
}

.navbar-brand {
  color: #ff6600;
  font-weight: 600;
  font-size: 1.6rem;
}

.navbar-nav .nav-link {
  color: #ddd;
  margin: 0 10px;
  font-weight: 900;
}

.navbar-nav .nav-link:hover {
  color: #ff6600;
}

.hero {
    margin-top: -5pc;
  padding: 140px 0pc;
}
.container1{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.678)),url(https://t4.ftcdn.net/jpg/03/08/69/75/360_F_308697506_9dsBYHXm9FwuW0qcEqimAEXUvzTwfzwe.jpg);
  background-size: cover;
  padding-top:5pc;
  padding-left: 6pc;
  margin-left: -2pc;
  padding-bottom: 7pc;
  background-position: center;
}
.hero h5 {
  color: #ff7b00;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 2pc;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 2pc;
}

.hero p {
  max-width: 600px;
  color: #ddd;
  margin-top: 20px;
  font-size: 1.1rem;
  margin-bottom: 2pc;
}

button{
  text-decoration: none;
  color: white;
  margin-left: 1pc;
  background: linear-gradient(to right, black, rgb(9, 54, 253));
  box-shadow: 2px 2px 10px rgb(0, 17, 255);
    border: none;
  padding: 12px 25px;
  font-weight: 800;
  border-radius: 8px;
}

button:hover {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  transform: translateY(-10px);
   box-shadow: 2px 2px 45px rgb(0, 17, 255);
}
.herocards{
  margin-top: -9pc;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(20, 20, 20);
  padding: 2pc;
}
.herocards #herocard{
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.334);
  padding: 3pc;
  margin-right: 4.5pc;
}
.herocard1{
  margin-left: 3.5pc;
}
.herocards #herocard:hover{
  box-shadow: 0 0 30px blue;
}
.herocards h2,h1,h3,h4{
  color: aqua;
  font-weight: 900;
  text-shadow: 0 0 20px blue;
}
.about{
  margin-top: 2pc;
  background-color: rgb(8, 8, 8);
   padding-top: 3pc;
  padding-bottom: 3pc;

}
#innerabout{
  background-color: rgba(0, 0, 0, 0.87);
  padding: 3pc;
  border-radius: 6pc;
  border: 2px solid rgba(0, 38, 255, 0.651);
  box-shadow:  0 0 25px rgba(0, 0, 255, 0.795);
}
#innerabout img{
  width: 400px;
  margin-left: 4pc;
  height: 380px;
  border-radius: 6pc;
  border: 3px solid rgb(9, 186, 240);
  animation: magic 3s 0s infinite;
}
#innerabout img:hover{
  box-shadow: 0 0 30px blue;
}
@keyframes magic {
  from{
    transform: translateY(10px);
  }
  to{
    transform: translateY(-10px);
  }
}
#innerabout p{
margin-top: 2pc;
margin-bottom: 2pc;
font-weight: 800;
font-style: oblique;
text-transform: uppercase;
}
.services{
  background-color: rgb(15, 15, 15);
padding: 3pc;
}
.services #card h3{
  color: aqua;
  font-weight: 900;
  text-shadow: 0 0 20px blue;

}
.card1{
  margin-left: 4pc;
}
hr{
  color: aqua;
}
.services #card{
  border: 2px solid blue;
  padding: 1pc;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.863);
  margin-right: 4.5pc;
}
.services #card ul{
  list-style: none;
  margin-left: -18px;
  margin-top: 1pc;
  font-size: 20px;
  font-weight: 800;
}
.tools #cardstools{
  border: 2px solid blue;
  padding: 1pc;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.863);
  margin-right: 4.5pc;
}
#cardstools img{
  width: 120px;
  height: 110px;
}
.tools {
  gap: none;
}
@media (max-width: 700px) {
  .container1{ margin-left: -4pc;}
  .container { padding: 0 1rem; }
.navbar{
  margin-left: 1pc;
  margin-right: 1pc;
}
}